.dongle {
    font-family: "Dongle", sans-serif;
    font-size: 25px !important;
}

.dongle-h2 {
    font-family: "Dongle", sans-serif;
    font-size: 55px !important;
}

.dongle-p {
    font-family: "Dongle", sans-serif;
    font-size: 25px;
    line-height: -25px !important;
}

.handlee {
    font-family: "Handlee", cursive;
}

.handlee-pink {
    font-family: "Handlee", cursive;
    color: #ffb6c1 !important;
}
